*{
	margin: 0;
	padding: 0;
}
body {
    font-family: 'Kanit', sans-serif;
}

table {
    border-collapse: collapse;
    width: 1000px;
    height: auto;
}

table, th, td {
    border: 1px solid black;

}

.head th {
    text-align: center;
    font-size: 15px;
    color: black;
    background: #E066FF;
}

.head-data th {
    text-align: center;
    font-size: 18px;
    color: black;
    background: #E066FF;
}

.head-time th {
    text-align: center;
    color: black;
    font-size: 15px;
    background: yellow;
}

td {
    text-align: center;
    font-size: 15px;
}

.data td {
    text-align: center;
    font-size: 18px;
    color: black;
    text-decoration: none;
    background: wheat;
}

.data-button{
    text-align: center;
    font-size: 18px;
    color: black;
    background: wheat;
    border: 0; 
}

.data-button:hover{
    color: #1E90FF;
    cursor: pointer;
}


